Source: libgpr
Priority: extra
Maintainer: Bob Mottram (4096 bits) <bob@robotics.uk.to>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/fuzzgun/libgpr
Vcs-Git: https://github.com/fuzzgun/libgpr.git

Package: libgpr0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuplot, libz-dev
Description: Library for genetic programming
 Making the inclusion of Genetic Programming easy within any C/C++
 application. Genetic programming (GP) is a powerful technique, inspired by
 the process of natural selection, which can be utilized to automatically
 discover programs which produce a desired input to output transformation.
 Both classical tree-based and Cartesian forms of Genetic Programming are
 supported, including self-modifying variants.

Package: libgpr0-dev
Section: libdevel
Architecture: any
Depends: libgpr0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, gnuplot, libz-dev
Description: Library for genetic programming
 Making the inclusion of Genetic Programming easy within any C/C++
 application. Genetic programming (GP) is a powerful technique, inspired by
 the process of natural selection, which can be utilized to automatically
 discover programs which produce a desired input to output transformation.
 Both classical tree-based and Cartesian forms of Genetic Programming are
 supported, including self-modifying variants.
